@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.filter-purple {
  filter: brightness(0) saturate(100%) invert(15%) sepia(80%) saturate(1000%)
    hue-rotate(230deg);
}

html {
  scroll-behavior: smooth;
}

/* Base Tiptap Styles */
.tiptap {
  outline: none;
}

/* Checklist-Like Base */
.checklist {
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}

/* Custom Bullet List */
.custom-bullet-list {
  list-style-type: disc;
}

/* Custom Ordered List */
.custom-ordered-list {
  list-style-type: decimal;
}

/* Task List Overrides */
.tiptap [data-type='taskList'] li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* Code Block */
.custom-codeblock,
pre {
  background: #e1e3e7;
  border-radius: 0.5rem;
  color: #000;
  margin: 1rem 0;
  padding: 0.75rem 1rem;
  overflow-x: auto;
}

.custom-codeblock code,
pre code {
  background: none;
  color: black;
  padding: 0;
}

/* Blockquote */
.custom-blockquote,
blockquote {
  border-left: 3px solid #d1d5db;
  padding-left: 1rem;
  color: #111;
  font-style: italic;
}

.ProseMirror a {
  color: #3b82f6; /* Tailwind 'blue-500' */
  font-weight: 500;
  text-decoration: underline;
  transition: all 0.2s;
  cursor: pointer;
}

.ProseMirror a:hover {
  color: #6366f1; /* Tailwind 'indigo-500' */
  text-decoration: none;
}

.tiptap [data-type='taskList'] li {
  margin-bottom: -1.25rem;
}

.tiptap [data-type='taskList'] li:first-child {
  margin-top: -1.25rem;
}

/* Add vertical spacing between block-level elements */
.tiptap p,
.tiptap ul,
.tiptap ol,
.tiptap pre,
.tiptap blockquote {
  line-height: 1.25;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 12px 0;
}
.image-grid img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.full-width-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 16px 0;
  object-fit: cover;
}

.truncate-one-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.border-animation {
  padding: 3px;
  background: linear-gradient(
    45deg,
    #7b2ff7,
    #afa5ff,
    #f107a3,
    #00f0ff,
    #7b2ff7
  );
  background-size: 300% 300%;
  animation: borderAnimation 6s ease infinite;
  border-radius: 18px;
}

.border-animation::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  background: inherit;
  z-index: -1;
  filter: blur(15px);
  border-radius: inherit;
  animation: borderAnimation 6s ease infinite;
}

@keyframes borderAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
